<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload video</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="form.css">
</head>

<body>
    <nav class="flex-div">
        <div class="nav-left flex-div">
            <img src="menu.png" alt="menu" class="menu-icon">
            <img src="logo.png" class="logo">
        </div>
        <div class="nav-middle flex-div">
            <div class="search-box flex-div">
                <input type="text" placeholder="Search">
                <img src="search.png">
            </div>
            <img src="voice-search.png" class="mic-icon">
        </div>
        <div class="nav-right flex-div">

            <img src="more.png">
            <img src="notification.png">
            <span class="material-symbols-outlined">
                account_circle
            </span>
        </div>
    </nav>
    <!-- -------- sidebar --------  !-->
    <div class="sidebar">
        <div class="shortcut-links">
            <a href=""><img src="home.png">
                <p>Home</p>
            </a>
            <a href=""><img src="explore.png">
                <p>Explore</p>
            </a>
            <a href=""><img src="subscription.png">
                <p>Subscribe</p>
            </a>
            <a href=""><img src="library.png">
                <p>Library</p>
            </a>
            <a href=""><img src="history.png" class="history">
                <p>History</p>
            </a>
            <a href=""><img src="playlist.png" class="playlist">
                <p>Playlist</p>
            </a>
            <a href=""><img src="messages.png" class="messages">
                <p>Message</p>
            </a>
            <a href=""><img src="show-more.png" class="showmore">
                <p>Show More</p>
            </a>

            <hr>
        </div>
        <div class="subscribed-list">
            <h3>SUBSCRIBED</h3>
            <a href=""><img src="Jack.png">
                <p>Jack Nico</p>
            </a>
            <a href=""><img src="simon.png">
                <p>Simon Back</p>
            </a>
            <a href=""><img src="tom.png">
                <p>Tom Hardy</p>
            </a>
            <a href=""><img src="megan.png">
                <p>Megan Ryan</p>
            </a>
            <a href=""><img src="cameron.png">
                <p>Cameron D</p>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <h2>Upload Video</h2>
            <form action='/upload' method="post">
                <div class="inputBox">
                    <input type="text" name="videotitle" required="required">
                    <span>Video title</span>
                </div>

                <div class="inputBox">
                    <input type="text" name="description" required="required">
                    <span>Description</span>
                </div>
                <div class="inputBox">
                    <label for="">Choose Video:</label>
                    <input type="file" name="videofile" required="required" accept="video/*">

                </div>
                <div class="inputBox">
                    <label>Choose Thumbnail:</label>
                    <input type="file" name="image" required="required" accept="image/*">

                </div>
                <div class="buttons1">
                        <button id="upload">Upload</button>
                    
                    <form action="/" method="get">
                        <button id="home">Home</button>
                    </form>
                </div>
            </form>
        </div>
    </div>
    </div>
    <script>
        var menuIcon = document.querySelector(".menu-icon");
        var sidebar = document.querySelector(".sidebar");


        menuIcon.onclick = function () {
            sidebar.classList.toggle("small-sidebar");
            container.classList.toggle("large-container");
        }
    </script>

</body>

</html>